# Local .terraform directory (contains downloaded providers and modules)
.terraform/

# Hide all terraform state files and backups
*.tfstate
*.tfstate.*

# Crash logs
crash.log
crash.*.log

# Exclude all variable files that might contain secrets/passwords
*.tfvars
*.tfvars.json

# Override files
override.tf
override.tf.json
_override.tf
_override.tf.json

# CLI configuration files
.terraformrc
terraform.rc